.mb-3{
    border-style: hidden;
    .card-header {
        background-color: white;
    
    }
    .card-body {
        border-color: transparent;
        /*doesn't work*/
    }
    
    img {
        width: auto;
    }
    
    h1,h2,h3,h4,h5,p {
            justify-content: end;
            color: #000000;
        }
        h4 {
            font-family: 'Chino Mono', monospace;
            justify-content: end;
            ;
            font-size:x-large;
            font-weight: 600;
            text-align: left;
        }
    
        h5 {
            font-size: medium;
            /*text-align: right;*/
        }
        mat-icon {
            color:  #d2902f;
            vertical-align: -20%;
        }
    
        .rating {
            color: #000000;
            text-align: right;
        }
    
        .release {
            text-align: left;
        }
    .card-body {
    
        .mat-fab {
            text-align: right;
        }
    
        p {
            font-size: small;
        }
    
    }
    
    mat-card-actions {
        display: flex;
        justify-content: right;
    
    }
    
    button {
        background-color: #d2902f;
        box-shadow: none;
    }
}

.btn{
    height: fit-content;
    /*vertical-align: bottom; doesn't work*/
    align-self:center;

    .heart{
        vertical-align: -20%;
    }
}
/*COLLAPSE BUTTON*/
.example-action-buttons {
    padding-bottom: 20px;
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
  }

  /*TIMELINE SET*/

.timeline.justify-content-md-center {
    background-color: #000000;
    /*doesn't work*/
}

/* Timeline holder */
ul.timeline {
    list-style-type: none;
    position: relative;
    padding-left: 2.5rem;
}

/* Timeline vertical line */
ul.timeline:before {
    content: ' ';
    background: #eaeaf2;
    display: inline-block;
    position: absolute;
    left: 16px;
    width: 4px;
    height: 100%;
    z-index: 400;
    border-radius: 1rem;
}

.form-control {
    border-style: hidden;
}

li.timeline-item {
    margin: 20px 0;
}

/* Timeline item arrow */
.timeline-arrow {
    border-top: 0.5rem solid transparent;
    border-right: 0.5rem solid #eaeaf2;
    border-bottom: 0.5rem solid transparent;
    display: block;
    position: absolute;
    left: 2rem;
}

/* Timeline item circle marker */
li.timeline-item::before {
    content: ' ';
    background: #c87826;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #eaeaf2;
    left: 3.5px;
    width: 30px;
    height: 30px;
    z-index: 400;
    /*box-shadow: 0 0 0px rgba(0, 0, 0, 0.2);*/
}
// Changed input colors for movie sction card
.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input{
    color:black;
    background-color: white;  
  }

  .input{
    background-color: white;
  }
  
  .mat-mdc-select-arrow{
    color: black;
   }
