<div class="container py-5">
    <div class="row">
        <div class="col-lg-7 mx-auto">

            <ul class="timeline">
                <li *ngFor="let movie of actorCredits.credits?.cast" class="timeline-item bg-white rounded ml-3 p-4 shadow">
                    <div class="timeline-arrow"></div>
                    <h2>{{movie.title}}</h2>
                    <p>{{movie.id}}</p>
                    <h2 class="h5 mb-0"></h2><span class="small text-gray">
                        <i class="fa fa-clock-o mr-1"></i>21 March, 2019</span>
                    <p class="text-small mt-2 font-weight-light">Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Quisque scelerisque diam non nisi semper, et elementum lorem ornare. Maecenas placerat
                        facilisis mollis. Duis sagittis ligula in sodales vehicula....</p>
                </li>
            </ul>

        </div>
    </div>
</div>

