<div class="row">
  <div class="col-lg-7 mx-auto">
    <ul class="timeline">
      <div class="justify-content-md-center">
        <li *ngFor="let movie of movies" class="timeline-item bg-white rounded ml-3 p-4 shadow">
          <!--NUOVO-->

          <div class="card mb-3" style="max-width: 700px;">
            <div class="card-header">
              <h4 class="card-title">{{movie.title}}</h4>
              <div class="card-subtitle">
                <div class="row">

                  <span class="release col-6">
                    <h5>{{movie.release_date | date: "yyyy"}}</h5>
                  </span>
                  <span class="rating col-6"><mat-icon>star</mat-icon>{{movie.vote_average}}</span>
                </div>


              </div>
            </div><!--TEST-->
            <div class="row g-0">
              <div class="col-md-4">
                <img src={{getPoster(movie.poster_path)}} alt="{{movie.title}}, ({{movie.release_date}})"
                  class="img-fluid rounded-start" />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p class="card-text">
                    {{movie.overview}}
                  </p>
                </div>
              </div>
            </div>
            <!-- <div class="card-footer text-muted">footer</div>-->
            <!--TEST2-->
            <div class="example-action-buttons">
              
              <!--<button mat-button (click)="accordion.openAll()">Expand All</button>
              <button mat-button (click)="accordion.closeAll()">Collapse All</button>-->

            </div>
            <mat-accordion class="example-headers-align" multi>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    
                  </mat-panel-title>
                  <mat-panel-description>
                    Add this movie to favorite
                    <mat-icon>library_add</mat-icon>    
                  </mat-panel-description>
                </mat-expansion-panel-header>
            
                <form #f="ngForm" class="form-control material">
                  <div class="row">
                    <mat-form-field class="col" appearance="outline">
                      <mat-label class="label-color">Rating</mat-label>
                      <mat-select [ngModel] name="language">
                        <mat-option value="1">1</mat-option>
                        <mat-option value="2">2</mat-option>
                        <mat-option value="3">3</mat-option>
                        <mat-option value="4">4</mat-option>
                        <mat-option value="5">5</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col-md-auto" appearance="outline">
                      <mat-label class="label-color">Review </mat-label>
                      <input matInput placeholder="review (max 160char)" aria-label="review">
                    </mat-form-field>
                    <button type="submit" class="btn btn-primary mt-2 col col-lg-2"><span
                        class="material-symbols-outlined heart">
                        heart_plus
                      </span>Add</button>
                  </div>
                </form>
            
              </mat-expansion-panel>
            </mat-accordion>
          </div>
          <!--CARD END-->
        </li>
      </div>
    </ul>
  </div>
</div>