.register-card {
  width: 800px;
  background: radial-gradient( rgba(162, 162, 245, 0.486),rgb(0, 0, 36));
}

.img {
  background-image: url("/assets/images/logoLogin.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.wrap {
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}

.btn{
  background-color: black;
  color: white;
  border: 1px solid white;
}

h3{
  color: white;
}

a{
  color: white;
}

.btn:hover{
  background-color: white;
  color: black;
}

@media only screen and (max-width: 768px) {
  .register-card {
    width: 400px;
  }
  .img {
    height: 200px;
  }
}
