$colorShadow: #a1a1a1;

.register-card {
  width: 800px;
  background-color: white;
  border-radius: 10px;
  border: 1px white;
  border-style: solid;
}

.img {
  background-image: url("/assets/images/registrazione-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.register {
  background-image: url("/assets/images/registrazione-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.wrap {
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 768px) {
  .register-card {
    width: 400px;
  }
  .img {
    height: 200px;
  }
}
