.register-card {
  width: 800px;
}

.img {
  background-image: url("/assets/images/login-screen.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.wrap {
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 768px) {
  .register-card {
    width: 400px;
  }
  .img {
    height: 200px;
  }
}
