$colorShadow: #a1a1a1;

.row-welcome {
  overflow: hidden;
  box-shadow: 5px 5px 35px black;
  border-radius: 15px;
  background-color: white;
}

.col-1-img {
  height: 400px;
  transform: rotate(210deg);
  top: -80px;
  position: relative;
  opacity: 0.3;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem $colorShadow,
    0 0 0.8rem $colorShadow, 0 0 2.8rem $colorShadow,
    inset 0 0 1.3rem $colorShadow;
}

.col-3-img {
  height: 400px;
  transform: rotate(35deg);
  top: 80px;
  position: relative;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem $colorShadow,
    0 0 0.8rem $colorShadow, 0 0 2.8rem $colorShadow,
    inset 0 0 1.3rem $colorShadow;
  right: -40px;
}
