<div class="background"></div>

<div class="outer-div">
  <div class="inner-div">
    <div class="front">
      <div class="front__bkg-photo"></div>
      <div class="front__face-photo"></div>
      <div class="front__text">
        <h3 class="front__text-header">Profilo</h3>
        <p class="front__text-para"><span>NOME</span>: <span class="profile-data">{{ currentUser.name }}</span
          ><br />
          <span>COGNOME</span>:
          <span class="profile-data">{{ currentUser.surname }}</span
          ><br />
          <span>USERNAME</span>:
          <span class="profile-data">{{ currentUser.username }}</span
          ><br />
        </p>
        
        <span class="front__text-hover">Prova a girami
        </span>
      </div>
    </div>
    <div class="back">
        <tnv-logout class="mt-3"></tnv-logout>
    </div>

  </div>
</div>