<ng-template #content let-modal>
  <form #upDateForm="ngForm">
    <div class="mb-3">
        <label class="form-label">Nuovo Nome</label>
        <input [ngModel]
        name="name"
        type="text"
        class="form-control"
        placeholder="Nome"
        required
        id="name"
        #name="ngModel" />
    </div>
    <div class="mb-3">
        <label class="form-label">Nuovo Cognome</label>
        <input [ngModel]
        name="cognome"
        type="text"
        class="form-control"
        placeholder="Cognome"
        required
        id="cognome"
        #cognome="ngModel" />
    </div>
    <div class="mb-3">
      <label class="form-label">Nuovo Username</label>
      <input [ngModel]
        name="username"
        type="text"
        class="form-control"
        placeholder="Username"
        required
        id="username"
        #username="ngModel" />
  </div>
    
    <div class="modal-footer d-block">
        
        <button type="submit" class="btn btn-warning float-end"  class="btn btn-primary"
        type="button"
        (click)="onSubmit(upDateForm)">Submit</button>
    </div>
</form>
</ng-template>
<section class="h-100 gradient-custom-2">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card">
          <div
            class="rounded-top text-white d-flex flex-row"
            style="background-color: #313b59; height: 200px"
          >
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px">
              <img
                src="../../../assets/images/user-placeholder.jpg"
                alt="Generic placeholder image"
                class="img-fluid img-thumbnail mt-4 mb-2"
                style="width: 150px; z-index: 1"
              />
              <button
                type="button"
                class="btn btn-outline-dark"
                data-mdb-ripple-color="dark"
                style="z-index: 1"
                (click)="open(content)"
              >
                Edit profile
              
              </button>
              <button
                type="button"
                class="btn btn-outline-blue"
                data-mdb-ripple-color="dark"
                style="z-index: 1"
              >
                <tnv-logout class="mt-3"></tnv-logout>
              </button>
              <div></div>
            </div>
            <div class="ms-3" style="margin-top: 130px">
              <h5>{{ currentUser.name }}</h5>
              <h5>{{ currentUser.surname }}</h5>
              <p>{{ currentUser.username }}</p>
            </div>
          </div>
          <div class="p-4 text-black" style="background-color: #f8f9fa">
            <div class="d-flex justify-content-end text-center py-1">
              <div>
                <br>
                <br>
              </div>
            </div>
          </div>
          <div class="card-body p-4 text-black">
            <div class="mb-5">
              <h6 class="text-center">Ultimi commenti:</h6>

              <div class="container d-flex flex-wrap justify-content-start">
                <table class="table table-image">
                  <th scope="col">Poster</th>
                  <th scope="col">Titolo</th>
                  <th scope="col">Risultato</th>
                  <tr *ngFor="let favCurr of favorites; let i = index">
                    <td class="w-25">
                      <img
                        [src]="favCurr.moviePoster"
                        alt="Poster"
                        class="img-thumbnail"
                      />
                    </td>
                    <td>Titolo:</td>
                    <td>{{ favCurr.movieTitle }}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
