.btn {
    width: 30vw;
    margin-top: 32px;
  }
  
  .btn-start {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .time {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  button {
    margin-bottom: 10px; /* Aggiunge uno spazio tra i bottoni */
  }
  
  /* Aggiungi ulteriori stili per personalizzare la presentazione dei numeri del timer */
  