.btn {
    width: 30vw;
    margin-top: 32px;
  }
  
  .btn-start {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  /* Aggiungi ulteriori stili per personalizzare la presentazione dei numeri del timer */
  