$primary-palette: (
50: #f9f1e2,
100: #f0dbb6,
200: #f0dbb6,
300: #deae5b,
400: #d89e3f,
500: #d2902f,
600: #ce862b,
700: #c87826,
800: #c06b22,
900: #b3581e,
 contrast: (
  50: black,
  100: black,
  200: black,
  300: black,
  400: black,
  500: white,
  600: white,
  700: white,
  800: white,
  900: white
 )
);

$secondary-palette: (
50: #eaeaf2,
100: #c9cbdf,
200: #a7aac9,
300: #8689b3,
400: #6d6ea3,
500: #575594,
600: #514d8b,
700: #48447f,
800: #403a73,
900: #332a5b,
 contrast: (
  50: black,
  100: black,
  200: black,
  300: black,
  400: black,
  500: white,
  600: white,
  700: white,
  800: white,
  900: white
 )
);
