$primary-palette: (
  50: #e6f5e6,
  100: #c2eac2,
  200: #99de99,
  300: #70d370,
  400: #4dcc4d,
  500: #33c233,
  600: #2eb82e,
  700: #279e27,
  800: #208520,
  900: #196c19,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: black,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white
  )
);

$secondary-palette: (
  50: #e6f2ff,
  100: #c0dbff,
  200: #99c4ff,
  300: #73adff,
  400: #4d96ff,
  500: #2680ff,
  600: #0077e6,
  700: #0061b3,
  800: #004b80,
  900: #00354d,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: black,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white
  )
);

