// ---
// Material Theme
// ---

@use '@angular/material' as mat;

@include mat.core();

// Color palettes
@import "./palettes.scss";


$tnv-project-template-primary: mat.define-palette($primary-palette);
$tnv-project-template-accent: mat.define-palette($secondary-palette);
$tnv-project-template-warn: mat.define-palette(mat.$red-palette);

$tnv-project-template-theme: mat.define-light-theme((
  color: (
    primary: $tnv-project-template-primary,
    accent: $tnv-project-template-accent,
    warn: $tnv-project-template-warn,
  )
));

@include mat.all-component-themes($tnv-project-template-theme);

// ---
// BOOTSTRAP Theme
// ---
$primary: map-get($primary-palette, 700);
$secondary: map-get($secondary-palette, 300);
$font-family-sans-serif: 'Roboto', sans-serif;

@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;500;700&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Outline&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300;400;500;600&family=Chivo:wght@300;400;500;700&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700&display=swap');

// GLOBAL STYLES qui sotto

label {
  text-transform:none;
  font-size: medium;
  font-weight:lighter; 
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: black;
  outline-style:groove;
  color: grey;
  padding-top: -15px;

}
.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input{
  color: grey;
}












ngb-rating {
  color: $primary;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Plus Jakarta Sans', sans-serif; color: white; }

@media screen and (min-width: 600px) {
  h1{font-size:100px;}
}

body {
  background-color: black;
  align-items: center;
}

.page-content container {
  margin: 0;
  justify-content: center;

}
