/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anek+Malayalam&display=swap");

$primary: #313b59;
$secondary: #4b1dbf;

$font-family-sans-serif: "Anek Malayalam", sans-serif;

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
);

label {
  text-transform: uppercase;
  font-size: small;
  font-weight: bold;
}

ngb-rating {
  color: $secondary;
}

body {
  background-image: url("/assets/images/login-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
