<h2>I tuoi preferiti <mat-icon>favorite</mat-icon></h2>
<hr>
<div class="card-container">
  <mat-card class="review-card" *ngFor="let reviewOfThisUser of reviewsArray">
    <img mat-card-image src={{reviewOfThisUser.moviePoster}} alt="foto del film">
    <mat-card-content class="content">
      <h4>{{reviewOfThisUser.movieTitle}}</h4>
      <h5>VOTO: <span class="rating"> 
        <i *ngFor="let star of getStars(reviewOfThisUser.rating)" class="fas fa-star"></i>
        <i *ngFor="let star of getEmptyStars(reviewOfThisUser.rating)" class="far fa-star"></i>
      </span></h5>
      <h5>RECENSIONE:</h5>
      <p>
        {{reviewOfThisUser.review}}
      </p>
      <h5>Tempo impiegato: {{reviewOfThisUser.totalTime}} secondi</h5>
      <mat-card-actions class="delete-container">
        <button mat-button (click)="onDeleteReview(reviewOfThisUser)">Delete</button>
      </mat-card-actions>
    </mat-card-content>
</mat-card>

