
.collapse
 {
    background-color: #279e27;
    overflow: hidden;
    z-index: 1000;
}

.collapse
 a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.collapse a:hover {
    color: 99de99;
    text-decoration: underline;
}

.collapse a.active {
    color: #99de99;
    text-decoration: underline;

}
