<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top px-3">
  <a class="navbar-brand" routerLink="/">TNV Final Project Template</a>
  <button
    class="navbar-toggler hidden-sm-up"
    type="button"
    (click)="isNavbarCollapsed = !isNavbarCollapsed"
    data-target="#navbarsDefault"
    aria-controls="navbarsDefault"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    [ngbCollapse]="isNavbarCollapsed"
    class="collapse navbar-collapse"
    id="navbarsDefault"
  >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/welcome" routerLinkActive="active"
          >Welcome</a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Gioca</a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/rankings" routerLinkActive="active"
          >Classifica</a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Preferiti</a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/profile" routerLinkActive="active"
          >Profilo</a
        >
      </li>
    </ul>
  </div>
</nav>
