
.collapse
 {
    overflow: hidden;
    z-index: 1000;
}

.collapse
 a {
    background-color: #542754;
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.collapse a:hover {
    color: #cf99cf;
    text-decoration: underline;
}

.collapse a.active {
    color: #cf99cf;
    text-decoration: underline;

}
