<!--<tnv-review-movie></tnv-review-movie>-->
<!--{{movie | json}}-->


<head>
  <title>Avvia Partita!</title>
</head>

<div class="button-container" *ngIf="!showGame">
  <button class="button-start" role="button" (click)="startTimer()">Avvia partita!</button>
</div>

<div *ngIf="showGame">
  <div *ngIf="!youWon">
    <mat-card class="movie-card">
      <mat-card-header>
        <h1>Indovina il titolo!</h1>
      </mat-card-header>
      <img mat-card-image src={{tmdService.poster}} [alt]="tmdService.movie.title" style="width: 450px;">
      <div class="timer">
        <p>Timer: {{totalElapsedTime}} secondi</p>
      </div>
      <mat-card-content>
        <button class="button-63" role="button" id="bt" [disabled]="clickedBtOne" 
        (click)="onClickButtonShowOverview()">
          Premi per sapere la trama!
        </button><br>
        <h2 *ngIf="showOverview">
          {{tmdService.movie.overview}}
        </h2><br>
        <button class="button-63" role="button" id="bt" [disabled]="clickedBtTwo"
          (click)="onClickButtonShowReleaseDate()">
          Premi per sapere la data di uscita!
        </button><br>
        <h2 *ngIf="showReleaseDate">
          {{tmdService.movie.release_date | date: 'dd/MM/yyyy'}}
        </h2><br>
        <button class="button-63" role="button" id="bt" [disabled]="clickedBtThree"
          (click)="onClickButtonShowVoteAverage()">
          Premi per sapere il voto!
        </button><br>
        <h2 *ngIf="showVoteAverage">
          {{tmdService.movie.vote_average}}
        </h2><br>
        <button class="button-63" role="button" id="bt" [disabled]="clickedBtFour"
          (click)="onClickButtonShowOriginalLanguage()">
          Premi per sapere la lingua originale!
        </button><br>
        <h2 *ngIf="showOriginalLanguage">
          {{tmdService.movie.original_language}}
        </h2><br>
        <button class="button-63" role="button" id="bt" [disabled]="clickedBtFive"
          (click)="onClickButtonShowPopularity()">
          Premi per sapere quanti voti ha ricevuto dalla community!
        </button><br>
        <h2 *ngIf="showPopularity">
          {{tmdService.movie.vote_count | number: '1.0'}}
        </h2><br>
      </mat-card-content>
      <div *ngIf="showError" class="error-message">
        Hai sbagliato, riprova.
      </div>
      <h1>Prova a indovinare il titolo..</h1>
      <!---->
      <mat-card-actions>
        <form class="checkMovie-form data-form" #GuessMovieForm="ngForm"
          (ngSubmit)="checkIfMovieCorrect(GuessMovieForm.value, tmdService.movieTitle)">
          <p>
            <mat-form-field appearance="outline" style="width: 500px">
              <mat-label>titolo...</mat-label>
              <input matInput name="attempt" [(ngModel)]="val.movieTitleAttempt" [ngModelOptions]="{updateOn: 'submit'}"
                #movieTitleAttempt="ngModel" placeholder="titolo">
              <mat-icon matSuffix>help_outline</mat-icon>
            </mat-form-field>
          </p>
          <div class="button-container">
            <button class="button-63" role="button">
              Guess The Movie?
            </button>
            <button class="rigenera" (click)="giocaAncora()">Avvia un'altra partita<mat-icon>refresh</mat-icon></button>
          </div>
        </form>
      </mat-card-actions>
      <!---->
    </mat-card>

    <div class="timer">
      <p>Timer: {{totalElapsedTime}} secondi</p>
    </div>
  </div>
</div>

<div *ngIf="youWon">
  <!-- mettiamo come background l'immagine del film-->
  <tnv-review-movie [savedTotalTime]="savedTotalTime"> </tnv-review-movie>
</div>