<!--<tnv-review-movie></tnv-review-movie>-->
<!--{{movie | json}}-->

<mat-card class="movie-card">
    <mat-card-header>
      <mat-card-title>Indovina il titolo!</mat-card-title>
    </mat-card-header>
    <img mat-card-image src={{tmdService.poster}} [alt]="tmdService.movie.title" ng-style="{'filter': 'blur(9px)'}"> 
    <mat-card-content>
      <button class="button-63" role="button" name="bt">
        <p> </p>
      </button><br>
      <h2 >
        {{tmdService.movie.overview}} 
      </h2><br>
      <button class="button-63" role="button"  id="bt">
        
      </button><br>
      <h2 >
        {{tmdService.movie.release_date}} 
      </h2><br>
      <button class="button-63" role="button" (click)="toggleVote()" id="bt">
        Premi per sapere il voto
      </button><br>
      <h2 *ngIf="showVote">
        
      </h2><br>
    </mat-card-content>
    <mat-card-actions>
        <p>
            <mat-form-field appearance="outline">
              <mat-label>titolo...</mat-label>
              <input matInput placeholder="Placeholder">
              <mat-icon matSuffix>help_outline</mat-icon>
            </mat-form-field>
          </p>
    </mat-card-actions>
  </mat-card>






  
    


    
