   <tnv-welcome>
    <tnv-hero></tnv-hero>
    <!-- ALL INTERNO DI QUESTA COMPONENTE DOVREBBERO ESSERE MOSTRATE LE TAB IN RELAZIONE ALLE ROUTES-->
    <!-- <tnv-login></tnv-login>  component originale da caricare onclick btn 'Accedi'--> 
    <!-- <tnv-register></tnv-register> component originale da caricare onclick btn 'Registrati'-->
    <!-- <tnv-game> da costruire -->
    <!-- <tnv-ranking> component originale -->

    </tnv-welcome>

    <tnv-register></tnv-register>    <!-- <tnv-register></tnv-register> component originale-->
    <tnv-login></tnv-login><!-- <tnv-login></tnv-login>  component originale-->  

