   <section class="gridlist">
 <div class="container">
        <div class="row">
          <div class="col-sm">
            <div class="column-header">
              <img class="imgGrid"  src="/assets/images/cinemaFilm.png" alt="Descrizione immagine">
            </div>
            One of three columns Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias aperiam quam itaque, delectus deleniti eaque ab neque impedit blanditiis quis aspernatur dolor officiis sequi dicta. Modi eaque quos voluptatum atque.
          </div>
          <div class="col-sm">
            <div class="column-header">
              <img class="imgGrid"  src="/assets/images/multiple-devices.png" alt="Descrizione immagine">
            </div>
            One of three columns Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum culpa optio totam possimus pariatur corrupti tempore ea accusamus, eligendi sed officiis ullam fuga velit nam temporibus magnam adipisci! Excepturi, ut?
          </div>
          <div class="col-sm">
            <div class="column-header">
              <img class="imgGrid" src="/assets/images/multiple-users-silhouette.png" alt="Descrizione immagine">
            </div>
            One of three columns Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi facere dignissimos nulla consequuntur quis cum, porro ipsam dolores sit natus nam quod dolor quos magnam sunt dolorem magni. Voluptas, incidunt.
          </div>
        </div>
    </div>
        
    </section>
