   <section class="gridlist">
 <div class="container">
        <div class="row">
          <div class="col-sm d-flex align-items-center flex-column text-center">
            <div class="column-header">
              <img class="imgGrid"  src="/assets/images/cinemaFilm.png" alt="Descrizione immagine">
            </div>
            <h2>Title sample written by words never spoken.</h2>
            <h4>            One  ab neque impedit blanditiis quis aspernatur dolor officiis sequi dicta. Modi eaque quos voluptatum atque.
            </h4>
          </div>
          <div class="col-sm d-flex align-items-center flex-column text-center">
            <div class="column-header">
              <img class="imgGrid"  src="/assets/images/multiple-devices.png" alt="Descrizione immagine">
            </div>
            <h2>Title sample written by words never spoken.</h2>
            <h4>            One  ab neque impedit blanditiis quis aspernatur dolor officiis sequi dicta. Modi eaque quos voluptatum atque.
            </h4>          </div>
          <div class="col-sm d-flex align-items-center flex-column text-center">
            <div class="column-header">
              <img class="imgGrid" src="/assets/images/multiple-users-silhouette.png" alt="Descrizione immagine">
            </div>
            <h2>Title sample written by words never spoken.</h2>
            <h4>            One  ab neque impedit blanditiis quis aspernatur dolor officiis sequi dicta. Modi eaque quos voluptatum atque.
            </h4>          
        </div>
        </div>
    </div>
        
    </section>
