
.login-card {
  width: 800px;
}

.img {
  background-image: url('/assets/images/posters-log.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 5%;
}

.wrap {
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 768px){

.login-card {
  width: 400px;
}
  .img {
    height: 200px;
  }
}

h3 {
  font-family: "Chivo Mono", monospace;
  color: lightgray;
}
