<div class="login-page-wrap">
  <div class="row justify-content-center">
    <div class="col-md-7">
      <div class="wrap d-md-flex">
        <div class="img"></div>
        <div class="login-wrap p-4 p-md-5">
          <div class="d-flex">
            <div class="w-100">
              <h3 class="mb-4">Accedi</h3>
            </div>
          </div>
          <form #f="ngForm" (ngSubmit)="login(f)" class="signin-form">
            <div class="form-group mb-3">
              <label class="label" for="name">Username</label>
              <input
                [ngModel]
                name="username"
                type="text"
                class="form-control"
                placeholder="Username"
                required
                id="username"
                #username="ngModel"
              />
              <div
              *ngIf="username.invalid && (username.dirty || username.touched)"
              class="mt-1 small text-danger"
            >
              Campo obbligatorio
            </div>
            </div>
            <div class="form-group mb-3">
              <label class="label" for="password">Password</label>
              <input
                [ngModel]
                required
                name="password"
                type="password"
                class="form-control"
                id="password"
                placeholder="Password"
                #password="ngModel"
              />
              <div
                *ngIf="password.invalid && (password.dirty || password.touched)"
                class="mt-1 small text-danger"
              >
                Campo obbligatorio
              </div>
            </div>
            <div class="form-group">
              <button
                type="submit"
                class="form-control btn btn-primary rounded submit px-3"
              >
                Login
              </button>
            </div>
          </form>
          <p class="text-center mt-3">
            Non sei iscritto?
            <a data-toggle="tab" routerLink="/register">Registrati</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
