div.container {
    margin-top: 18vh;
}

.heading-section {
  font-size: 28px;
  color: #000;
}
.img {
  background-image: url('/assets/images/login-screen.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.wrap {
  width: 100%;
  overflow: hidden;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 34px -15px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 10px 34px -15px rgba(0, 0, 0, 0.24);
  box-shadow: 0 10px 34px -15px rgba(0, 0, 0, 0.24);
}

.img,
.login-wrap {
  width: 50%;
}

@media (max-width: 991.98px) {
  .img,
  .login-wrap {
    width: 100%;
  }
}

@media (max-width: 767.98px) {
  .wrap .img {
    height: 250px;
  }
}

.login-wrap {
  position: relative;
  background: #fff h3;
}
