<div class="mt-5 pt-5 pb-5 footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-xs-12 about-company">
        <h2>Movie Genius</h2>
        <p class="pr-5 text-white-50">
          Come si gioca?<br />
          Prova a indovinare il film in meno tempo possibile! Hai a disposizione
          5 aiuti... Attenzione però, ad ogni aiuto richiesto ti verranno
          aggiunti dei secondi!! Quando hai indovinato il film potrai salvarlo
          nei tuoi preferiti, dare un voto e lasciare una breve recensione.
        </p>
        <p>
          <a href="#"><i class="fa fa-facebook-square mr-1"></i></a
          ><a href="#"><i class="fa fa-linkedin-square"></i></a>
        </p>
      </div>
      <div class="col-lg-3 col-xs-12 links">
        <h4 class="mt-lg-0 mt-sm-3">Links</h4>
        <ul class="m-0 p-0">
          <li>- <a routerLink="/welcome">Benvenuto</a></li>
          <li>- <a routerLink="/game">Gioca</a></li>
          <li>- <a routerLink="/rankings">Ranking</a></li>
          <li>- <a routerLink="/favorites">Preferiti</a></li>
          <li>- <a routerLink="/profile">Profilo</a></li>
        </ul>
      </div>
      <div class="col-lg-4 col-xs-12 location">
        <p>Casteddu City, Via le dita dal naso, 1</p>
        <p class="mb-0"><i class="fa fa-phone mr-3"></i>(541) 754-3010</p>
        <p><i class="fa fa-envelope-o mr-3"></i>info@hsdf.com</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col copyright">
        <p class="">
          <small class="text-white-50">© 2022. All Rights Reserved.</small>
        </p>
      </div>
    </div>
  </div>
</div>
