.card-black{
    background-color: grey;
   
}
.form-control{
    background-color: black;
    border-color: grey;
    
}
.form-row {
    margin-left: 10px; 
    margin-top: 4px;
  }
.form-row2 {
    margin-left: 6px; 
   
  }

.placeholder{
    color: #ce862b;
}
.button{
    margin-left: 2px;
    margin-bottom: 20px;
}
.label-color{
    color: #ce862b;
}
