<form #f="ngForm" (ngSubmit)="onNgSubmit(f)">
<div class="card  mx-auto w-75 mt-5">
    <div class="card-body">
      <div class="row mt-3">
        <div class="col">
          <input type="text" class="form-control" placeholder="Title" aria-label="Title">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Actor" aria-label="Actor">
        </div>
      </div>
  
      <div class="row g-3 mt-2">
        <div class="col-sm">
          <select class="form-select">
            <option selected>Action</option>
            <option value="1">Drama</option>
            <option value="2">Adventure</option>
            <option value="3">Romance</option>
          </select>
        </div>
        <div class="col-sm">
          <input type="text" class="form-control" placeholder="Year" aria-label="Year">
        </div>
        <div class="col-sm">
          <input type="text" class="form-control" placeholder="Duration" aria-label="Duration">
        </div>
      </div>

        <div class="row">
          <div class="col-md-12 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary mt-4 ml-auto">Submit</button>
          </div>
        </div>
    </div>
  </div>
</form>