<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>cerca...</mat-label>
    <input matInput #actorName maxlength="256" placeholder="Es. Leonardo DiCaprio">
    <mat-radio-group [(ngModel)]="searchType" aria-label="Select an option">
      <mat-radio-button value="1">Attore / Regista</mat-radio-button>
      <mat-radio-button value="2">Titolo</mat-radio-button>
    </mat-radio-group>
    <mat-hint align="start"><strong>Seleziona la tipologia di ricerca</strong></mat-hint>
    <mat-hint align="end">{{actorName.value.length}} / 256</mat-hint>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="search()">Cerca</button>
</form>