<div class="container">
    <section class="d-flex">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="card">
                    <div class="row">
                    <hr class="hr" />
                        <div class="col">
                            <div class="img-container">
                                <img class="blueCinema" src="/assets/images/cinema_1020x680.jpg" alt="blueCinema">
                            </div>
                        </div>
                        <div class="col d-flex align-items-center flex-column justify-content-center">
                            <h1 class="h1">Gioca a Guess A Movie !</h1>
                            <h2>Scopri fantastici film partecipando al quiz. Indovina uno tra il titolo, anno di uscita, genere e regista e sblocca il ban per vedere il film.</h2>
                        </div>
                    <hr class="hr" />
                    </div>
                </div>

                <div class="card">
                    <div class="row">
                        <div class="col">
                            <div class="col d-flex align-items-center flex-column justify-content-center">
                                <h1 class="h1">Gioca a Guess A Movie !</h1>
                                <h2>Scopri fantastici film partecipando al quiz. Indovina uno tra il titolo, anno di uscita, genere e regista e sblocca il ban per vedere il film.</h2>
                            </div>
                        </div>
                        <div class="col">
                            <div class="img-container">
                                <img class="blueCinema" src="/assets/images/cinema_1020x680.jpg" alt="blueCinema">
                            </div>
                        </div>
                    <hr class="hr" />
                    </div>

                </div>
                <div class="card">
                    <div class="row">
                        <div class="col">
                            <div class="img-container">
                                <img class="blueCinema" src="/assets/images/cinema_1020x680.jpg" alt="blueCinema">
                            </div>
                        </div>
                        <div class="col d-flex align-items-center flex-column justify-content-center">
                            <h1 class="h1">Gioca a Guess A Movie !</h1>
                            <h2>Scopri fantastici film partecipando al quiz. Indovina uno tra il titolo, anno di uscita, genere e regista e sblocca il ban per vedere il film.</h2>
                        </div>
                    <hr class="hr" />
                    </div>
                </div>

                <div class="card">
                    <div class="row">
                        <div class="col">
                            <div class="col d-flex align-items-center flex-column justify-content-center">
                                <h1 class="h1">Gioca a Guess A Movie !</h1>
                                <h2>Scopri fantastici film partecipando al quiz. Indovina uno tra il titolo, anno di uscita, genere e regista e sblocca il ban per vedere il film.</h2>
                            </div>
                        </div>
                        <div class="col">
                            <div class="img-container">
                                <img class="blueCinema" src="/assets/images/cinema_1020x680.jpg" alt="blueCinema">
                            </div>
                        </div>
                    <hr class="hr" />
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
