<div class="container-fluid">
    <section class="d-flex ">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="card" style="height: 75vh; background-color: grey;">
                    <div class="row">
                    <div class="col">
                        <div class="img-container" style="background-image: url('your-image-url');"></div>
                    </div>
                    <div class="col">
                        <h1 class="h1">Title</h1>
                        <h3>H3 Subtitle</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sit amet...</p>
                    </div>
                    </div>
                </div><div class="card" style="height: 75vh; ">
                    <div class="row">
                    <div class="col">
                        <div class="img-container" style="background-image: url('your-image-url');"></div>
                    </div>
                    <div class="col">
                        <h1 class="h1">Title</h1>
                        <h3>H3 Subtitle</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sit amet...</p>
                    </div>
                    </div>
                </div><div class="card" style="height: 75vh; background-color: grey;">
                    <div class="row">
                    <div class="col">
                        <div class="img-container" style="background-image: url('your-image-url');"></div>
                    </div>
                    <div class="col">
                        <h1 class="h1">Title</h1>
                        <h3>H3 Subtitle</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sit amet...</p>
                    </div>
                    </div>
                </div>
                <div class="card" style="height: 75vh; background-color: grey;">
                    <div class="row">
                    <div class="col">
                        <div class="img-container" style="background-image: url('your-image-url');"></div>
                    </div>
                    <div class="col">
                        <h1 class="h1">Title</h1>
                        <h3>H3 Subtitle</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sit amet...</p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
      
      
      <!-- Repetere il blocco precedente per le altre tre card -->
      
</div>
