/* Stili per tutti gli elementi h e p all'interno del componente */

.container-fluid{
    max-width: 98vw;
    background-color: rgb(2, 2, 33); 
    font-family: 'Your Font', sans-serif;
    color: white;
    font-weight: bolder;
    margin-left: 0;
}

.row{
  margin-left: 0;
   width: 100vw;
}

.h1 {
  font-size: 3.7rem;
}

h3 {
  font-weight: 100;
  font-size: 1.4rem;
}

p {
  font-weight: 400;
}

.card {
  margin-bottom: 20px;
  margin-left: 0;
}

.separator {
  height: 2px;
}
