header {
    padding: 0;
    margin:0;
    width: 100vw;
    height: 500px;
    background-image: url('/assets/images/cover.jpeg');
    background-size: cover;
    background-position-y: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header h1 {
    text-align: center;
    color: #f0dbb6;
    font-family: 'Chivo Mono', monospace;
    font-weight: 500;
    margin: 0;
    text-shadow: 0px 2px 4px black;
    width: 100%;
}

header p {
    color: white;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.7rem;
    margin: 0;
    text-shadow: 0px 2px 4px black;
}

@media (max-width: 1000px) { //tablet version
    header h1 {
      font-size: 74px;
    }
}
@media (max-width: 750) { //mobile version
    header h1 {
        font-size: 64px;
    }
  
header p {
    font-size: 1.5rem;
}
}