<!-- AlessioS. : per realizzare l'interfaccia primaria è stata ideata un macro-component 'navbar,,welcome,footer' @shared 
    all'interno di welcome component verrano caricate le schede multimediali. (stile mobile-app) 
        - Valutare inserimento di eventuali animazioni sass/scss per rendere una migliore UI  ;
            in particolare, valutare l'idea di rendere il prodotto, graficamente simile a un app mobile. Questo incrementa la 
            fruibilità multidevice ed è più in linea con 
        - discutere su posizionamento-display dei button in navbar
        - -->

<tnv-navbar></tnv-navbar>
<tnv-welcome>
    <!-- ALL INTERNO DI QUESTA COMPONENTE DOVREBBERO ESSERE MOSTRATE LE TAB IN RELAZIONE ALLE ROUTES-->
    <!-- <tnv-login></tnv-login>  component originale da caricare onclick btn 'Accedi'--> 
    <!-- <tnv-register></tnv-register> component originale da caricare onclick btn 'Registrati'-->
    <!-- <tnv-game> da costruire -->
    <!-- <tnv-ranking> component originale -->

</tnv-welcome>

<tnv-register></tnv-register>    <!-- <tnv-register></tnv-register> component originale-->
<tnv-login></tnv-login><!-- <tnv-login></tnv-login>  component originale--> 



