.card{
    background-image: url(/Angular/src/assets/images/);
    position: relative;
    z-index: 1;
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.game{
    width: 50vw;
    height: 900px; 

    border: 2px black;
    border-radius: 20px;
    margin-top: 4vh;

    padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 4vh;

    color: white;
}

.container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient( rgba(162, 162, 245, 0),rgb(0, 0, 36));
    z-index: -1; /* Assicura che lo sfondo sia posizionato dietro agli altri elementi */
}

.divider{
    background-color: white;
    color: white;
    width: 80%;
    height: 1px ;
}

h2{
    margin-bottom: 2vh;
}

h3{
    margin-top: 2vh;
}

p{
    margin-top: 2vh;
}


.locandinaImg{
    width: 180px;
    height: auto;
    margin-bottom: 4vh;
    border-radius: 20px;

}

.form-control{
    width: 30vw;

}
.btn{
    width: 200px;
    cursor: pointer;
}

.btn-start{
    background-color: transparent;
    color: white;
    margin: 2px white solid;
    font-weight: bold;
    font-size: 1.5rem;
}

.star-size {
    font-size: 48px; 
    border-radius: 2px;
  }
