<div class="d-flex align-items-center justify-content-center text-left"> <!-- Aggiunto il margine superiore -->
  <div class="col-8">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Ordine per voto</th>
          <th scope="col">Titolo</th>
          <th scope="col">Voto</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ranking of movie; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ ranking.movieTitle }}</td>
          <td>
            <ngb-rating [rate]="ranking.rating" [max]="5" [readonly]="readonly !== null && readonly" [disabled]="readonly !== null && readonly"></ngb-rating>
          </td>
          <!-- <td>
            <button type="button" class="btn-close" aria-label="Close" ></button>
          </td> -->
        </tr>
      </tbody>
    </table>
  </div>
</div>
