<div class="col-8">
  <table class="table table-striped">
    <thead>
      <!-----tabella--->
      <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Titolo del film indovinato</th>
        <th scope="col">Tempo impiegato (mm:ss:SSS)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let posizione of classifica; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ posizione.username }}</td>
        <td>{{ posizione.movieTitle }}</td>
        <td>{{ posizione.timeSpend | date: "mm:ss:SSS" }}</td>
      </tr>
    </tbody>
  </table>
</div>
