<section class="rankings">
  <div class="col-8 d-flex align-items-center flex-column text-center mx-auto my-5">
    <h1>I tuoi movies preferiti</h1>
      <table class="table ">
        <thead>
          <tr>
            <tnv-ranking-detail [movie] = "movie" [review] = "review" [rating] = "rating"></tnv-ranking-detail>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Il padrino</td>
            <td>1972</td>
            <td><ngb-rating [rate]="5" [max]="5"></ngb-rating></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>I predatori dell'arca perduta</td>
            <td>1981</td>
            <td><ngb-rating [rate]="5" [max]="5"></ngb-rating></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>L'Impero colpisce ancora</td>
            <td>1980</td>
            <td><ngb-rating [rate]="4" [max]="5"></ngb-rating></td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Le Ali della libertà</td>
            <td>1994</td>
            <td><ngb-rating [rate]="4" [max]="5"></ngb-rating></td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Lo Squalo</td>
            <td>1975</td>
            <td><ngb-rating [rate]="4" [max]="5"></ngb-rating></td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Quei Bravi Ragazzi</td>
            <td>1990</td>
            <td><ngb-rating [rate]="4" [max]="5"></ngb-rating></td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>Apocalypse Now</td>
            <td>1979</td>
            <td><ngb-rating [rate]="4" [max]="5"></ngb-rating></td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>Cantando sotto la pioggia</td>
            <td>1952</td>
            <td><ngb-rating [rate]="4" [max]="5"></ngb-rating></td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>Pulp Fiction</td>
            <td>1994</td>
            <td><ngb-rating [rate]="4" [max]="5"></ngb-rating></td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>Fight Club</td>
            <td>1999</td>
            <td><ngb-rating [rate]="4" [max]="5"></ngb-rating></td>   <!-- VALUTARE UN CAMBIO COLORI STARS -->
          </tr>
        </tbody>
      </table>
    </div>
  </section>
