<div class="container-fluid room d-flex align-items-center flex-column text-center">
    <video class="video-background" autoplay muted loop>
        <source src="/assets/images/tunnel_-_26475 (720p).mp4" type="video/mp4">
        Il tuo browser non supporta la riproduzione di video.
    </video>

    <h1>Benvenuto in schermata game</h1>

        <div class="game">
            <div class="locandina-box">
                <img src="" alt="">
            </div>
            <div class="timer">
                <!-- costruire timer con RXJS -->
            </div>
            <h3>Qual'è il titolo del film?</h3>
            <form action="" method="get"></form>
            <div class="indizi-box">
                <ul>
                    <li>indizio</li>
                    <li>indizio</li>
                    <li>indizio</li>

                </ul>
            </div>
        </div>

</div>