<div class="slider">
	<div class="slide-track">
		<div class="slide">
			<img src="/assets/images/ing.png" width="250" alt="scritta" />
		</div>
		<div class="slide">
			<img src="/assets/images/logo.png" width="70" alt="logo" />
		</div>
        <div class="slide">
			<img src="/assets/images/it.png" width="250" alt="scritta" />
		</div>
		<div class="slide">
			<img src="/assets/images/logo.png" width="70" alt="logo" />
		</div>
        <div class="slide">
			<img src="/assets/images/fr.png" width="250" alt="scritta" />
		</div>
		<div class="slide">
			<img src="/assets/images/logo.png" width="70" alt="logo" />
		</div>
        <div class="slide">
			<img src="/assets/images/td.png" width="250" alt="scritta" />
		</div>
		<div class="slide">
			<img src="/assets/images/logo.png" width="70" alt="logo" />
		</div>
        <div class="slide">
			<img src="/assets/images/sp.png" width="250" alt="scritta" />
		</div>
        <div class="slide">
			<img src="/assets/images/logo.png" width="70" alt="logo" />
		</div>
		<div class="slide">
			<img src="/assets/images/ing.png" width="250" alt="scritta" />
		</div>
		<div class="slide">
			<img src="/assets/images/logo.png" width="70" alt="logo" />
		</div>
        <div class="slide">
			<img src="/assets/images/it.png" width="250" alt="scritta" />
		</div>
		<div class="slide">
			<img src="/assets/images/logo.png" width="70" alt="logo" />
		</div>
        <div class="slide">
			<img src="/assets/images/fr.png" width="250" alt="scritta" />
		</div>
		<div class="slide">
			<img src="/assets/images/logo.png" width="70" alt="logo" />
		</div>
        <div class="slide">
			<img src="/assets/images/td.png" width="250" alt="scritta" />
		</div>
		<div class="slide">
			<img src="/assets/images/logo.png" width="70" alt="logo" />
		</div>
        <div class="slide">
			<img src="/assets/images/sp.png" width="250" alt="scritta" />
		</div>
        
		</div>
	</div>
