<div class="slider">
	<div class="slide-track">
		<div class="slide">
			<img src="/assets/images/inglese-carousel.png" width="250" alt="scritta" />
		</div>
		<div class="slide">
			<img src="/assets/images/logo.png" width="70" alt="logo" />
		</div>
        <div class="slide">
			<img src="/assets/images/italiano-carousel.png" width="250" alt="scritta" />
		</div>
		<div class="slide">
			<img src="/assets/images/logo.png" width="70" alt="logo" />
		</div>
        <div class="slide">
			<img src="/assets/images/francese-carousel.png" width="250" alt="scritta" />
		</div>
		<div class="slide">
			<img src="/assets/images/logo.png" width="70" alt="logo" />
		</div>
        <div class="slide">
			<img src="/assets/images/tedesco-carousel.png" width="250" alt="scritta" />
		</div>
		<div class="slide">
			<img src="/assets/images/logo.png" width="70" alt="logo" />
		</div>
        <div class="slide">
			<img src="/assets/images/spagnolo-carousel.png" width="250" alt="scritta" />
		</div>
        <div class="slide">
			<img src="/assets/images/logo.png" width="70" alt="logo" />
		</div>
		<div class="slide">
			<img src="/assets/images/inglese-carousel.png" width="250" alt="scritta" />
		</div>
		<div class="slide">
			<img src="/assets/images/logo.png" width="70" alt="logo" />
		</div>
        <div class="slide">
			<img src="/assets/images/italiano-carousel.png" width="250" alt="scritta" />
		</div>
		<div class="slide">
			<img src="/assets/images/logo.png" width="70" alt="logo" />
		</div>
        <div class="slide">
			<img src="/assets/images/francese-carousel.png" width="250" alt="scritta" />
		</div>
		<div class="slide">
			<img src="/assets/images/logo.png" width="70" alt="logo" />
		</div>
        <div class="slide">
			<img src="/assets/images/tedesco-carousel.png" width="250" alt="scritta" />
		</div>
		<div class="slide">
			<img src="/assets/images/logo.png" width="70" alt="logo" />
		</div>
        <div class="slide">
			<img src="/assets/images/spagnolo-carousel.png" width="250" alt="scritta" />
		</div>
        
		</div>
	</div>
