

<div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="col-6 mx-auto">
            <div class="card h-100 border-primary justify-content-center">
                <div>
                  <div class="card text-center">
                    <div class="card-header">
                        <div class = "container mt-5">
                            <h1>Complimenti il tuo punteggio è: 576</h1>
                            <br>
                            <h1>Vuoi lasciare un commento?</h1>

                            <form class="row g-3">
                                <div class = "col-md-6">
                                    <label for="nome" class = "form-label">Nome</label>
                                    <input type="text" class ="form-control" id="nome" required>
                                </div>
                                <div class = "col-md-6">
                                    <label for="filmId" class = "form-label">Film</label>
                                    <input type="text" class ="form-control" id="filmId" required>
                                </div>
                                <div class="col-md-12">
                                    <label for="comments" class = "form-label">Comments</label>
                                    <textarea class="form-control" id="comments" rows="3"></textarea>
                                </div>
                                <div class="d-grid gap-2">
                                    <button class="btn btn-primary" type="submit" routerLink="/game"
                                    routerLinkActive="gioca-active">Gioca ancora</button>
                                    <button class="btn btn-primary" type="button">Salva il film tra i preferiti</button>
                                  </div>
                        
                            </form>
                        </div>
                      
                    
                    
                </div>
            </div>
        </div>
      </div>    

