<div class="container h-80">
  <div class="row align-items-center h-80">
    <div class="col-md-8 mx-auto">
      <div class="card h-100 border-primary justify-content-center">
        <div>
          <div class="card text-center">
            <div class="card-header">
              <div class="container mt-5">
                <div class="card card-body">
                  <img
                    [src]="movie.moviePoster"
                    class="card-img-top"
                    alt="..."
                  />
                </div>
                <table class="table">
                  <tbody>
                    <tr>
                      <td>Titolo</td>
                      <td>{{ movie.movieTitle }}</td>
                    </tr>
                    <tr>
                      <td class="bd">Overview</td>
                      <td>{{ movie.movieOverview }}</td>
                    </tr>
                    <tr>
                      <td>Data di Uscita</td>
                      <td>{{ movie.movieRelease }}</td>
                    </tr>
                    <tr>
                      <td>Durata</td>
                      <td>{{ movie.movieDurata }}</td>
                    </tr>
                    <tr>
                      <td>Revenue</td>
                      <td>{{ movie.movieRevenue }}</td>
                    </tr>
                    <tr>
                      <td>Commento</td>
                      <td>{{ commentUser }}</td>
                    </tr>
                    <tr>
                      <td colspan="2">
                        <div class="card text-center">
                          <div class="card-body text-center">
                            <span class="myratings">{{ movie.rating }}</span>
                            <h4 class="mt-1">Media</h4>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <div class="container my-5 py-5">
                  <div class="row d-flex justify-content-center">
                    <div class="col-md-12 col-lg-10">
                      <div class="card text-dark">
                        <div class="d-grid gap-2">
                          <button
                            class="btn btn-primary"
                            type="submit"
                            routerLink="/game"
                            routerLinkActive="gioca-active"
                          >
                            Gioca ancora
                          </button>
                          <button
                            class="btn btn-primary"
                            type="button"
                            (click)="deleteMovie()"
                          >
                            Rimuovi il film dai i preferiti
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
