<footer id="footer-large">
		
	<div class="footer-container">
		
		<div class="footer-informazioni">
		 <div> <img src="/assets/images/logo.png" width="50px" alt="logo"/> </div>
         <h1 class="margin-bot-15px">Guess The Movie</h1>
		  <p class="margin-bot-15px"> Con questo progetto vogliamo mettere in campo tutte le nostre conoscenze per arrivare al meglio. Guess The Movie è stata la nostra sfida e insieme siamo riusciti a creare tutto cio'! Buon divertimento a tutti, speriamo vi piaccia!
			Andrea L., Giorgia, Davide e Andrea M.<br/> Via delle tante Speranze <br/>Cagliari (CA)<br/></p>
     <div class="privacy">
	  <br/><a target="_blank" href="https://www.thenetvalue.com/privacy-policy/"> Informativa Privacy</a> | <a target="_blank" href="https://www.thenetvalue.com/regolamento-spazi-tnv/">Regolamento</a>
	</div>
		
		</div>	
		
		<div class="footer-menu">
		<div class="menu-footer"><ul id="menu-menu-footer" class="menu">
    	<li><a class="nav-link" routerLink="/welcome" routerLinkActive="active">Welcome</a>
		</li>
		<li><a class="nav-link" href="#">Gioca</a>
		</li>
		<li><a class="nav-link" routerLink="/rankings" routerLinkActive="active">Classifica</a>
		</li>
		<li><a class="nav-link" href="#">Preferiti</a>
		</li>
		<li><a class="nav-link" routerLink="/profile" routerLinkActive="active"
			>Profilo</a></li>
		</ul></div>
		</div>
		
		<div class="footer-contatti">
			
		<div class="large_txt color-secondary">Contatti</div>
		Tel: +39 0000 000000<br/>
		Email: <a href="#">info@info.com</a><br/>
		Scuola: <a href="https://www.thenetvalue.com/tnv-academy/">TNV Academy</a><br/>
			
		<div class="social-cont">        
		<ul class="social-list">

		<li class="trans-color"><a target="_blank" href="https://www.facebook.com/thenetvalue/?locale=it_IT"><img src="/assets/images/facebook.png"  title="Facebook" alt="Facebook icon"><br></a></li>
		<li class="trans-color"><a target="_blank" href="https://www.instagram.com/thenetvalue/"><img src="/assets/images/instagram.png" title="Instagram" alt="Instagram icon"><br></a></li>

		</ul>
    	<div class="floatstop"></div>
		</div>
			
		</div>
		


		<div class="floatstop"></div>
		
		<div class="avvertenze-legali">
		<p>
			Diritto d´autore e proprietà intellettuale. Tutto ciò che è riportato su di questo sito web, documentazione, contenuti, testi, immagini, il logo, il lavoro artistico e la grafica sono di proprietà della nostra società, sono protetti dal diritto d´autore nonche dal diritto di proprietà intellettuale.		</p>
		</div>			
		
		
<div class="credits">
	
Designed by<br/>
			
			<div>
			<a target="_blank" href="#"> 
			<img src="/assets/images/logo.png" width="70" title="#" alt="logo"></a>
			<h2>Guess The Movie</h2>
			</div>		
	
</div>	
	
</div> 
</footer>
	