<footer>
    <h1><img src="/assets/images/logo.png" width="30" title="#" alt="logo">      Guess The Movie      <img src="/assets/images/logo.png" width="30" title="#" alt="logo"></h1>
    <p>Con questo progetto vogliamo mettere in campo tutte le nostre conoscenze per arrivare al meglio. Guess The Movie è stata la nostra sfida e insieme siamo riusciti a creare tutto cio'! Buon divertimento a tutti, speriamo vi piaccia!</p><br>
    <hr>
    <div class="footer-menu">
    <div class="menu-footer">
        <ul class="menu-menu-footer">
            <li><a class="nav-link" routerLink="/welcome" routerLinkActive="active">Welcome</a></li>
            <li><a class="nav-link" href="#">Gioca</a></li>
            <li><a class="nav-link" routerLink="/rankings" routerLinkActive="active">Classifica</a></li>
            <li><a class="nav-link" href="#">Preferiti</a></li>
            <li><a class="nav-link" routerLink="/profile" routerLinkActive="active">Profilo</a></li>
        </ul></div>
        </div>
    <hr>
    <div class="copyright">
      <br><p>©Copyright | <a target="_blank" href="https://www.thenetvalue.com/privacy-policy/">Privacy</a>  <a target="_blank" href="https://www.thenetvalue.com/regolamento-spazi-tnv/"> Rules</a></p>


    <div class="social-cont">    
        <ul class="social-list">
            <li class="trans-color"><a target="_blank" href="https://www.facebook.com/thenetvalue/?locale=it_IT"><img src="/assets/images/facebook.png"  title="Facebook" alt="Facebook icon"><br></a></li>
		    <li class="trans-color"><a target="_blank" href="https://www.instagram.com/thenetvalue/"><img src="/assets/images/instagram.png" title="Instagram" alt="Instagram icon"><br></a></li>
        </ul>
    </div><!--/fine social cont-->
    
</div>

      
      

    

    		
    
</footer>
