@charset "utf-8";
/* -------------reset----------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

input:focus, button:focus {outline:0;}

img {
    vertical-align: middle;
}

a{
	text-decoration:none;
}

p{
	margin-bottom:12px;
}

ul li{ 
	list-style:none;
}

html,body{
	font-family: 'Kanit', sans-serif, 'Mukta', sans-serif;
	color:black; /*color-text*/;
	height:100%;
	width:100%;
}

h1{
	font-size: 1.5em;
	text-align:center;
	font-weight: bold;
	color:white;/* primary color*/;
}

/* -----------------contenitore e contenuto ------------------ */

.contenitore .contenuto{
	max-width:1200px;
	margin:auto;
	padding: 70px 10px;
	padding-bottom: 70px;
}

/* -----------------footer html-----------------*/

footer{
	border-top: 1px solid #99c4ff; /* primary-color */
	padding:30px 10px;
	line-height: 1.6em;
	font-size:18px;
	background-color: #2680ff;/* primary color*/
	color: white;
}

p{
    text-align:center;
    margin-left: 30px;
    margin-right: 30px;
}

footer a{
	color:#aacdfe; /* secondary-color*/
}

footer a:hover{
	color:white; /* light seconday color*/	
}

footer .credits {
	max-width:300px;
	margin:auto;
}

iframe{
width: 16000px;}

.copyright {
    display: flex; /* Imposta il layout del blocco come "flex" */
    justify-content: flex-start; /* Allinea il contenuto del blocco a sinistra */
    margin: 0; /* Rimuove i margini predefiniti per il blocco */
  }

  footer .social-cont {
    display: flex; /* Imposta il layout del blocco come "flex" */
    justify-content: flex-end; /* Allinea il contenuto del blocco a destra */
    width: 100%; /* Imposta la larghezza del blocco al 100% del contenitore genitore */
    margin: 0; /* Rimuove i margini predefiniti per il blocco */
  }

footer .social-cont .social-list > li {
	margin: 8px 8px 8px 0;
	display: inline-block;
	vertical-align: top;
	height: 32px;
	width: 32px;
	border-radius: 6em;
	background-color:#2680ff; /* secondary-color*/
}

footer .social-cont .social-list li img {
	width: 35px;
}

footer .social-cont .social-list > li:hover {
  transform: scale(1.2);
}

/* Stile per la lista nel footer */
.menu-menu-footer{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Stile per gli elementi della lista */
  .menu-menu-footer li {
    margin-right: 20px; /* Aggiunge uno spazio tra gli elementi della lista */
  }
  
  .menu-menu-footer li:last-child {
    margin-right: 0; /* Rimuove lo spazio per l'ultimo elemento della lista */
  }
  
  .menu-menu-footer ul li a {
    color: white;
    padding: 5px 10px;
  }

  .menu-menu-footer ul li a:hover{
    color:#aacdfe;
    text-decoration: underline;
  }
  
  .menu-menu-footer li a.active {
    color: white;
  }
  
  div.by {
    display: flex; /* Imposta il layout del blocco come "flex" */
    flex-direction: column; /* Imposta la direzione dei figli come verticale */
    align-items: center; /* Allinea gli elementi lungo l'asse orizzontale al centro */
  }

  /* Imposta il layout del footer come "flex" e allinea il contenuto verticalmente al centro */

  
  div.by {
    margin-top: 0px; /* Aggiunge uno spazio tra "Designed by" e il resto del contenuto */
  text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  
}