<footer>
    <h1><img src="/assets/images/logo.png" width="30" title="#" alt="logo"> Guess The Movie <img
            src="/assets/images/logo.png" width="30" title="#" alt="logo"></h1>
    <p>Guess The Movie è un progetto sviluppato da: <a href="https://github.com/Grisi-Gio">Grisi Giorgia, </a> <a
            href="https://github.com/davideLCD">Lo Cascio Davide, </a> Team-leader <a
            href="https://github.com/AndreaLoviselli">Loviselli Andrea</a> </p><br>
    <hr>
    <div class="footer-menu">
        <div class="menu-footer">
            <ul class="menu-menu-footer">
                <li><a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a></li>
                <li><a class="nav-link" routerLink="/play" routerLinkActive="active">Gioca</a></li>
                <li><a class="nav-link" routerLink="/rules" routerLinkActive="active">Regole</a></li>
                <li><a class="nav-link" routerLink="/favorites" routerLinkActive="active">Preferiti</a></li>
                <li><a class="nav-link" routerLink="/profile" routerLinkActive="active"><mat-icon>person</mat-icon></a>
                </li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="copyright">
        <br>
        <p>©Copyright | <a target="_blank" href="https://www.thenetvalue.com/privacy-policy/">Privacy</a> <a
                target="_blank" href="https://www.thenetvalue.com/regolamento-spazi-tnv/"> Rules</a></p>

        <iframe width="425" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
            allowfullscreen="10" loading="lazy"
            src="https://www.openstreetmap.org/export/embed.html?bbox=9.103141129016878%2C39.21409872873164%2C9.106681644916536%2C39.215915004744254&amp;layer=mapnik&amp;marker=39.2150068726108%2C9.104911386966705"
            style="border: 0px"></iframe>

        <div class="social-cont">
            <ul class="social-list">
                <li class="trans-color"><a target="_blank"
                        href="https://www.facebook.com/thenetvalue/?locale=it_IT"><img src="/assets/images/facebook.png"
                            title="Facebook" alt="Facebook icon"><br></a></li>
                <li class="trans-color"><a target="_blank" href="https://www.instagram.com/thenetvalue/"><img
                            src="/assets/images/instagram.png" title="Instagram" alt="Instagram icon"><br></a></li>
            </ul>
        </div>

    </div>








</footer>