<div class="container">
    <mat-form-field>
      <mat-label>Anno</mat-label>
      <mat-select (selectionChange)="onYearChange($event)">
        <mat-option>Nessuno</mat-option>
        <mat-option value="2023">2023</mat-option>
        <mat-option value="2022">2022</mat-option>
        <mat-option value="2021">2021</mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Genere</mat-label>
      <mat-select (selectionChange)="onGenreChange($event)">
        <mat-option>Nessuno</mat-option>
        <mat-option value="28">Azione</mat-option>
        <mat-option value="12">Avventura</mat-option>
        <mat-option value="16">Animazione</mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Lingua</mat-label>
      <mat-select (selectionChange)="onLanguageChange($event)">
        <mat-option>Nessuno</mat-option>
        <mat-option value="en">Inglese</mat-option>
        <mat-option value="it">Italiano</mat-option>
        <mat-option value="es">spagnolo</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Popolarità</mat-label>
      <mat-select (selectionChange)="onPopularityChange($event)">
        <mat-option>Nessuno</mat-option>
        <mat-option value="asc">Meno popolare</mat-option>
        <mat-option value="des">Più popolare</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Durata film</mat-label>
      <mat-select (selectionChange)="onDurationChange($event)">
        <mat-option>Nessuno</mat-option>
        <mat-option value="90">90</mat-option>
        <mat-option value="120">120</mat-option>
        <mat-option value="180">180</mat-option>
      </mat-select>
    </mat-form-field>
    
</div>
    