.movie-header-image {
  background-size: cover;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 15px;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}

.button-63 {
  margin-top: 20px;
  align-items: center;
  background-image: linear-gradient(144deg, #542754, #ab4dab 50%, #cf99cf);
  border: none;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  width: 500px;
  padding: 19px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-63:active,
.button-63:hover {
  outline: 0;
  transform: scale(1.1);
}

img {
  filter: blur(8px);
}

.button-start {
  margin-top: 20px;
  align-items: center;
  background-image: linear-gradient(144deg, #542754, #ab4dab 50%, #cf99cf);
  border: none;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  width: 500px;
  padding: 19px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-start:active,
.button-start:hover {
  outline: 0;
  transform: scale(1.1);
}

.movie-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.mat-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  text-align: center;
}

h1 {
  color: #542754;
  margin-bottom: 30px;
  font-size: 50px;
}

.mat-card-content .button-63 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

p {
  width: 560px;
  text-align: center;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  font-size: 24px;
  font-weight: bold;
  background-color: #542754;
  border-radius: 5px;
  margin-top: 20px;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding-top: 15px;
}

h2 {
  text-align: center;
}

.error-message{
  color: red;
}

.rigenera{
  margin-top: 10px;
  background: #487a26;
  color: white;
  align-items: center;
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  justify-content: center;
  line-height: 1em;
  width: 400px;
  padding: 15px 20px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.rigenera:active,
.rigenera:hover {
  outline: 0;
  transform: scale(1.1);
}
