
<body>
<div class="container">
  <div class="card">
  <div class="card1">
    <div class="bar">
  
    </div>
  </div>
  </div>

  <div class="card">
  <div class="card2">
    <div class="bar">
     
    </div>
  </div>
  </div>

  <div class="card">
  <div class="card3">
    <div class="bar">
     
    </div>
  </div>
  </div>

  <div class="card">
  <div class="card4">
    <div class="bar">
   
    </div>
  </div>
  </div>

  <div class="card">
  <div class="card5">
    <div class="bar">
     
    </div>
  </div>
</div>
</div>
</body>