
<section class="titolo">
    <div class="row">
        <div class="col-12">
            <h2 class="section-title">Regole del gioco</h2>
            <div class="separator"></div>
        </div>
    </div>
</section>


        <mat-list>
            <mat-list-item class="list-item">
              <mat-icon matListItemIcon aria-hidden="true" class="icons-list" [ngStyle]="{'color': 'green'}">live_tv</mat-icon>
              <h3 matListItemTitle>Arriva il film!</h3>
              <p matListItemLine>
                <span>Il gioco comincia con l'arrivo di un film casuale! Riuscirai a capire di che film si tratta?</span>
              </p>
            </mat-list-item>
              <hr>
            <mat-list-item class="list-item">
                <mat-icon matListItemIcon aria-hidden="true" class="icons-list" [ngStyle]="{'color': 'green'}">filter_drama</mat-icon>
                <h3 matListItemTitle>Ma non si vede niente!</h3>
                <p matListItemLine>
                  <span>Non ti preoccupare, se non capisci subito il film, potrai calcare sulla locandina e avere qualche indizio.</span>
                </p>
              </mat-list-item>
              <hr>
              <mat-list-item class="list-item">
                <mat-icon matListItemIcon aria-hidden="true" class="icons-list" [ngStyle]="{'color': 'green'}">search</mat-icon>
                <h3 matListItemTitle>Posso avere quanti indizi voglio?</h3>
                <p matListItemLine>
                  <span>Si! ma attento, ogni indizio aumenterà di 30 secondi il tempo impiegato a indovinare..</span>
                </p>
              </mat-list-item>
              <hr>
              <mat-list-item class="list-item">
                <mat-icon matListItemIcon aria-hidden="true" class="icons-list" [ngStyle]="{'color': 'green'}">schedule</mat-icon>
                <h3 matListItemTitle>Quanto tempo ho a disposizione?</h3>
                <p matListItemLine>
                  <span>Tutto il tempo che vuoi! Il gioco finisce quando indovini il film</span>
                </p>
              </mat-list-item>
              <hr>
              <mat-list-item class="list-item">
                <mat-icon matListItemIcon aria-hidden="true" class="icons-list" [ngStyle]="{'color': 'green'}">lightbulb_outline</mat-icon>
                <h3 matListItemTitle>Ho capito!</h3>
                <p matListItemLine>
                  <span>Ricorda, quando avrai indovinato il film potrai salvarlo nel tuo profilo e scrivere una breve recensione!</span>
                </p>
              </mat-list-item>
              <hr>
              <mat-list-item class="list-item">
                <mat-icon matListItemIcon aria-hidden="true" class="icons-list" [ngStyle]="{'color': 'green'}">notifications_none</mat-icon>
                <h3 matListItemTitle>P.S</h3>
                <p matListItemLine>
                  <span>Scrivi le lettere con precisione! Non siamo degli hacker e stiamo ancora imparando</span>
                </p>
              </mat-list-item>
              <hr>
              <mat-list-item class="list-item">
                <mat-icon matListItemIcon aria-hidden="true" class="icons-list" [ngStyle]="{'color': 'green'}"> sentiment_very_satisfied</mat-icon>
                <h3 matListItemTitle>Che aspetti? Buon divertimento!
                </h3>
              </mat-list-item>
        </mat-list>

   <tnv-play-button></tnv-play-button>
    <!--(click)="goToGioca()"-->
