<div class="card">
	<div class="row">
		<div class="col-xs-6 col-md-4">
			<img
				class="img-fluid"
				[src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
				alt="Locandina assente"
			/>
		</div>
		<div class="col-xs-6 col-md-8">
			<h5 class="card-title">{{ movie.title }}</h5>
			<p class="card-text">{{ movie.release_date }}</p>
			<button mat-button class="timeline-card-btn" (click)="toggleFavourites()"> {{ isFavourite() ? 'Non mi piace più' : 'Mi piace' }}</button>
			<button mat-button class="timeline-card-btn">Vota</button>
		</div>
	</div>
</div>
