
mat-card-subtitle {
    display: flex;
    justify-content: end;
    align-items: baseline;
}

a {
    text-decoration: none
}

mat-card-actions{
    display: flex;
    justify-content: center;
    align-items: baseline;
     //background-color: ;//
}
