
<div class="container-fluid">
  <div class="row py-4 px-2">
    <div *ngFor="let rating of ratings" class="card col-3 py-4" style="width: 18rem;">
      <img class="card-img-top img-fluid" src="{{rating.posterPath}}" alt="{{rating.movieTitle}}" style="height: 350px; width: 300px;">
      <div class="card-body">
        <h5 class="card-title"  style="height: 3em; overflow: hidden;" >{{rating.movieTitle}}</h5>
        <h6 class="card-text">{{rating.movieReleaseDate | date: "yyyy"}} </h6>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Your rating: <span><mat-icon>star</mat-icon>{{rating.rating}}</span></li>
        <li class="list-group-item">Your review: {{rating.review}}</li>
      </ul>
      <div class="card-body">
        <button type="submit" class="btn btn-primary" (click)="onClick(rating.id)">Remove</button>
      </div>
    </div>
  </div>
</div>