<ng-template #content let-modal>
  <form class="row" #commentForm="ngForm">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        Complimenti {{ user.name }} il tuo punteggio è {{ punteggio }}. Vuoi
        lasciare un commento su questo film?
      </h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <div class="col-md-6">
        <div class="mb-3 col-12">
          <label for="rating" class="modal-header">Voto </label>
          <ngb-rating
            [(rate)]="currentRate"
            id="rating"
            [max]="10"
            class="modal-title"
          ></ngb-rating>
        </div>
      </div>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title"></h4>
      </div>
      <div class="col-md-12">
        <label for="comments" class="form-label">Comments</label>
        <textarea
          class="form-control"
          id="comments"
          rows="3"
          (input)="changeComment($event.target)"
          [ngModel]="currentComment"
          [ngModelOptions]="{ standalone: true }"
        ></textarea>
      </div>
      <br />

      <div class="d-grid gap-2">
        <button
          class="btn btn-primary"
          type="button"
          (click)="onSubmit(commentForm, false)"
          [disabled]="currentRate === 0 || currentComment.length === 0"
        >
          Salva il film tra i preferiti
        </button>
        <hr />
        <button
          class="btn btn-primary"
          type="button"
          (click)="onSubmit(commentForm, true)"
        >
          Oppure gioca ancora
        </button>
      </div>
    </div>
  </form>
</ng-template>

<div class="container h-100">
  <div class="row align-items-center h-100">
    <div class="col-6 mx-auto">
      <div class="card h-100 border-primary justify-content-center">
        <div>
          <div class="card text-center">
            <div class="card-header">
              <h5 class="card-title">Il tuo tempo</h5>
              <h1 class="card-text">{{ time }}</h1>
            </div>
            <div class="card-body">
              <form #titleForm="ngForm" (ngSubmit)="answer(titleForm, content)">
                <div class="form-group">
                  <label class="label" for="{{ movie.title }}"
                    >Indovina il titolo</label
                  >
                  <input
                    [ngModel]
                    name="titolo"
                    type="text"
                    class="form-control"
                    placeholder="Inserisci qui il titolo del film"
                    required
                    [id]="movie.id"
                    #titolo="ngModel"
                    (focus)="setAnswerRight(true)"
                    [disabled]="!timerOn"
                  />
                  <div
                    [style.display]="
                      titolo.invalid && titolo.dirty && titolo.touched
                        ? 'block'
                        : 'none'
                    "
                    class="mt-3 text-danger"
                  >
                    Inserisci il titolo
                  </div>
                  <div
                    [style.display]="!answerRight ? 'block' : 'none'"
                    class="mt-3 text-danger"
                  >
                    Risposta sbagliata
                  </div>
                </div>
                <br />
                <div class="d-grid gap-2">
                  <button
                    class="btn btn-lg btn-outline-primary"
                    [disabled]="!titleForm.valid"
                  >
                    Invia
                  </button>
                  <button
                    class="btn btn-lg btn-outline-primary"
                    type="button"
                    (click)="getRandomMovie()"
                  >
                    {{
                      timerOn === true
                        ? "Mi arrendo, cambio film."
                        : "Inizia gioco"
                    }}
                  </button>

                  <hr />
                </div>
              </form>
            </div>

            <ul class="list-group list-group-flush">
              <h3>I tuoi indizi</h3>

              <li class="list-group-item">
                <div class="d-grid gap-2">
                  <button
                    class="btn btn-dark"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#locandina"
                    aria-expanded="false"
                    aria-controls="collapseExample"
                    (click)="isCollapsedLocandina = !isCollapsedLocandina"
                    (click)="penalty(isCollapsedLocandina)"
                    [disabled]="!isCollapsedLocandina"
                  >
                    Locandina (+60 sec)
                  </button>
                </div>

                <div
                  class="collapse"
                  id="locandina"
                  [ngbCollapse]="isCollapsedLocandina"
                >
                  <div class="card card-body">
                    <img
                      [src]="'https://image.tmdb.org/t/p/w440_and_h660_face' + movie.poster_path"
                      class="card-img-top"
                      alt="..."
                    />
                  </div>
                </div>
              </li>

              <li class="list-group-item">
                <div class="d-grid gap-2">
                  <button
                    class="btn btn-dark"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#anno"
                    aria-expanded="false"
                    aria-controls="collapseExample"
                    (click)="isCollapsedAnno = !isCollapsedAnno"
                    (click)="penalty(isCollapsedAnno)"
                    [disabled]="!isCollapsedAnno"
                  >
                    Data di uscita (+30 sec)
                  </button>
                </div>

                <div class="collapse" id="anno" [ngbCollapse]="isCollapsedAnno">
                  <div class="card card-body">
                    <div class="text-center">
                      {{ movie.release_date }}
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="d-grid gap-2">
                  <button
                    class="btn btn-dark"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#revenue"
                    aria-expanded="false"
                    aria-controls="collapseExample"
                    (click)="isCollapsedRevenue = !isCollapsedRevenue"
                    (click)="penalty(isCollapsedRevenue)"
                    [disabled]="!isCollapsedRevenue"
                  >
                    Revenue (+30 sec)
                  </button>
                </div>

                <div
                  class="collapse"
                  id="nazione"
                  [ngbCollapse]="isCollapsedRevenue"
                >
                  <div class="card card-body">
                    <div class="text-center">{{ movie.revenue }} $</div>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="d-grid gap-2">
                  <button
                    class="btn btn-dark"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#overview"
                    aria-expanded="false"
                    aria-controls="collapseExample"
                    (click)="isCollapsedOverview = !isCollapsedOverview"
                    (click)="penalty(isCollapsedOverview)"
                    [disabled]="!isCollapsedOverview"
                  >
                    Overview (+30 sec)
                  </button>
                </div>

                <div
                  class="collapse"
                  id="regista"
                  [ngbCollapse]="isCollapsedOverview"
                >
                  <div class="card card-body">
                    <div class="text-center">
                      {{ movie.overview }}
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="d-grid gap-2">
                  <button
                    class="btn btn-dark"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#categoria"
                    aria-expanded="false"
                    aria-controls="collapseExample"
                    (click)="isCollapsedDurata = !isCollapsedDurata"
                    (click)="penalty(isCollapsedDurata)"
                    [disabled]="!isCollapsedDurata"
                  >
                    Durata (+30 sec)
                  </button>
                </div>

                <div
                  class="collapse"
                  id="categoria"
                  [ngbCollapse]="isCollapsedDurata"
                >
                  <div class="card card-body">
                    <div class="text-center">{{ movie.runtime }} min</div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
