img {
    -webkit-filter: blur(7px); 
    filter: blur(9px);
  }
.game{
  background-image: url("/../Angular/src/assets/images/game-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


  