header {
    width: 100%;
    height: 500px;
    background-image: url('../../../../assets/images/background.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 3px 5px lightgray;
}

header h1 {
    color: white;
    font-size: 128px;
    margin: 0;
    text-shadow: 2px 2px 4px black;
}

header h2 {
    color: white;
    font-size: 32px;  
    margin: 0;
    text-shadow: 2px 2px 4px black; 
}

header p {
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 2.3rem;
    margin-top: 20;
    text-shadow: 2px 2px 4px black;
}