h4, label{
  color: #542754;
}

hr{
  color: #542754;
}

button{
  background-image: linear-gradient(144deg, #542754, #ab4dab 50%, #cf99cf);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    color: #FFFFFF;
    font-family:'Lato', sans-serif;
    font-size: 18px;
    cursor: pointer;
}

h2{
  color: white;
  background: #542754;
  padding: 10px;
}

.rating-container {
  display: inline-block;
}

.rating-container input[type="radio"] {
  display: none;
}

.rating-container label {
  font-size: 24px; /* Dimensione delle stelle */
  color: #ccc; /* Colore stelline vuote */
  cursor: pointer;
  float: right; /* Allinea le stelle da destra a sinistra */
}

.rating-container label:hover,
.rating-container label:hover ~ label,
.rating-container input[type="radio"]:checked ~ label {
  color: gold; /* Colore stelline piene al passaggio del mouse o quando selezionate */
}
